@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap";

:root {
  --background-color: #222;
  --font-color: #eee;

  font-size: 16px;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

.header {
  /* height: calc(var(--height) - 65); */
  height: 35vh;
  position: relative;
  border-bottom: 7px solid var(--font-color);
}

.header h1 {
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.header-upper p {
  font-size: 1.1rem;
}

.btn {
  --font-color: #222;
  --background-color: #eee;

  border: none;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #c2c2c2;
}

.number {
  background-color: var(--font-color);
  color: #333;
  width: 16rem;
  font-size: 6rem;
  padding: 1.8rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* Header styles */

main {
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.left-side {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.guess {
  background: none;
  color: inherit;
  border: 4px solid #eee;
  font-size: 5rem;
  padding: 2.5rem;
  width: 30rem;
  height: 10.5  rem;
  text-align: center;
}

.right-side {
  width: 52rem;
  font-size: 1.6rem;
}

.message {
  margin-bottom: 4rem;
  height: 3rem;
}

.label-container {
  display: inline-flex;
  flex-direction: column;
}

.label-score {
  margin-bottom: 2rem;
}

.label {
  padding: 20px;
  border: 4px solid white;
}
